

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {padding-top:50px;}
.map-wrapper {padding: 0px}
#map {height:400px; display:block;}
div.unlocated iframe {opacity: 0.25;}

legend {border: none; text-align: center; padding: 6px 12px; margin-top: 20px; margin-bottom: 0px}

.pleiades-description > div {padding:1em 2em;}
.pleiades-description p {padding: 1em;}
.pleiades-support > div {padding:1em 2em;}
.pleiades-support .thumbnail {border:none; box-shadow:none;}
.pleiades-support .thumbnail img {max-height: 150px;}
.pleiades-support a[href*=credits] {font-size: 150%; letter-spacing: 2px}

.pleiades-rights {background: #333;
    height: 40px;
    line-height: 40px;color:white;}

#results > div > div {padding:2em;}

ul.ui-autocomplete {background-color:white;}

nav.navbar-default { background-image: url('http://pleiades.stoa.org/img/background-slice.png'); }
nav.navbar-default .navbar-brand {color: white; text-shadow: none; text-transform: uppercase; font-family: Trajan, Palatino, Garamond, "Times New Roman", Times, serif; font-size: 200%; letter-spacing: 2px}
nav.navbar-default .navbar-brand:hover {color: white;}
nav.navbar-default .navbar-nav > li > a {color: white; text-shadow: none; text-transform: lowercase; letter-spacing: 1px;}
nav.navbar-default .navbar-nav > li > a:hover {text-decoration: underline; color: white;}
.navbar-default .navbar-toggle .icon-bar {background-color: white}

div.search-map {height: 200px; border: 1px solid #BBBBBB;}

.search-map .leaflet-tile-pane {opacity:0.5;}
.search-map:hover .leaflet-tile-pane {opacity:1;}








